/*
        User Field Access
*/

.user_field_access_container  
{
  float:left;
  width:100%;
  height:auto;

}

.user_field_access_container  .form-textarea-wrapper
{
  float:left;
  width:100%;
  height:auto;

}
.user_field_access_wrapper
{
  margin-left: 4px;
  float:right !important;
}

.user_field_access_container  .form-wrapper  {
  float:left;
  width: 100%;
}

.user_field_access_container  .form-wrapper div  div{
  float:left;
}


.user_field_access_container  .form-wrapper .description, .user_field_access_container  .form-wrapper  .form-textarea-wrapper{
  float:left;
  clear:both;

}

.user_field_access_container .form-item 
{
  float:left;
  clear:both;
}

.user_field_access_container .dd .ddTitle span.ddTitleText span.ddTitleText {
  display:none;
}
.user_field_access_container .dd .ddTitle span.ddTitleText img {
  display:inline;
}

.user_field_access_container .dd .ddTitle span.arrow {
  background: url(dd_arrow.gif) no-repeat 0 0;
  float: right;
  display: inline-block;
  width: auto;
  height: 16px;
  cursor: pointer;
}